## 5 Number Summary 

### Step 1: 

#### Import Libraries

In order for us to work with any code that is not inherent to the language we will be required to import the corresponding libraries.

In [3]:
#Importing libraries 
#read data library
import pandas as pd
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns

### Initial Observation

Observe the first 5 records of the data as well as their data types to make sure everything is aligned, before we proceed to the operations.

In [2]:
# Read in the datset
#Initialise a variable to assign the dataset to..
# to access a function in the library we need to 
# call the library 'pd' and use the . operator 
# this will give tou access to methods in the package
# after the . operator we call the function name
dataset = pd.read_csv('50_Startups.csv')
# dataset is now going to contain what is on the right side of 
# the = sign

In [3]:
# Observe the first 5 records of the datset
# this is to ensure that the datset has been read
# correctly using the .head() method
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

##### Terminating Floats
Decimal place integers that have leading zeros
65.25000 => 65.25


##### Non-terminating floats
Decimal place integers that do not have leading zeros, the number of value preceeding the decimal place are recursive.
65.982649756248957239865


###### Nonteminating - 32 bits
32 bit values can only contain 32 bits of information thus losing some numerical precision
65.397562498562498 // cut off for 32 bits
64 bits 
65.397562498562498**47296534986**

In [4]:
# To identify the data types contained within the dataset
# the initial observation of the first 5 records doeas not
# verify the data types using the .info() mehtod 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

### The Five Number Summary

#### Understand the data distribution adn underlying patterns

We start by getting all possible statistical operations to run on the data and return a value to give us some insight on the data distribution, this will better equip us with the right guidance to proceed with the operations.

In [5]:
#The .describe function gives us the summary of numbers of 
# numeric variables from the dataset, this will
# give us some insight on the numeric distribution
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

### Create Functions

##### write functions that give more insight into the dataset using the 5 number summary

In order to create functions there is a number off steps that must be followed:

##### Step 1: Instantiate a Function
To instatiate a function we will need to us the ***"def"*** call word, followed by the Function Name and () and :


##### Step 2 : Input variables
We will need to pass in the dataset variable to operate on the present values, the input can be an array


##### Step 3: Create an Instruction Manual (Logic)
The set of instrtuctions will define the behaviour of the function and its applicability to a certain data type.


##### Step 4: Return the Output to the user

Using the retun key word wwe can return the output tohe user


## Mean Function

In [17]:
def calc_mean(variable):
    if len(variable) == 0:
        return None
    # Make sure the indentations match 
    # the place of the code in the function
    #create a variable called mean to store the mean value
    mean = sum(variable) / len(variable)
    #Return the ouput to the user
    return mean

In [18]:
data = dataset.drop("State", axis=1)
data.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [19]:
# To call a function use the function name and ()
#if the function takes in an input value make sure
# to pass that in the (input)
calc_mean(data["Profit"])

112012.63920000002

### Median Function

TO get the median of the data which is the middle value of a sorted array, we first need to sort the data.

In [33]:
def calc_median(variable):
    if len(variable) == 0:
        return None
    variable.sort_values() # sort_values as the data tyep is series 
    n = len(variable)
    if n % 2 == 0: # of we divide the length of the data by 2 
                        # and we get a 0 remainder then we assum the data is even
        mid1 = variable[n //  2 - 1]
        mid2 = variable[n // 2] # index [] of the data
        median = ((mid1 + mid2) / 2) # sum and divide the middle 2 values
        return median
    else:
        median = variable[n // 2] # returns the median in an odd number array
        return median

In [35]:
calc_median(data["Profit"])

107978.19

### Mode Function

To calculate the mode we need to find the frequency of all available labels

In [47]:
def calc_mode(variable):
    if len(variable) == 0:
        return None
    num_freq = {} # CURLY BRACKETS FOR DICTIONARY
    # to get the frequency we need to count 
    # the number of occurneces for these labels
    for num in variable: 
        #For every number in the empty dictionary 
        # we will loop the array
        # if the number is present we increment the value +1
        if num in num_freq:
            num_freq[num] += 1
        else: 
            #if the number is not presetnt we instatntiate the value 
            # giving it a number value of 1
            num_freq[num] = 1
    
    #once we have iterated throught the entire array 
    # we will have now established a dictionary of
    # Frequencies for the occurence of each value in the array
    max_count = max(num_freq.values())
    #Call back function that iterates the dictionary returning and comparing the maximum counts of all values 
    # against the max_count of all values to confirm the highest count i.e the most occuring number
    mode = [num for num, count in num_freq.items() if count == max_count]
    
    #if we cannot find 1 mode or there are more than 1 mode we return no mode found 
    if len(mode) == len(variable):
        return "No mode found"
    return mode

In [48]:
calc_mode(data["Profit"])

'No mode found'

In [55]:
def calc_IQR(variable):
    if len(variable) == 0: 
        return None
    variable.sort_values()
    n = len(variable) # Sample size
    q1 = variable[(n-1) // 4] # calculate tthe quarter by dividing the data into four
    q3 = variable[(3 * (n-1)) // 4] # get the first quater index and multiply by 3 to get the 3rd quarter 
    iqr = q1 - q3 
    return iqr

In [56]:
calc_IQR(data["Profit"])

50877.32999999999