## Refrences
1.  Hector Cuesta (2013) Practical Data Analysis. Birmingham, UK: Packt Publishing. Available at: https://search.ebscohost.com/login.aspx?direct=true&db=e250xww&AN=654543&site=eds-live&scope=site (Accessed: 18 October 2023).
2. Topre, G. (2022). Bank Customer Churn Dataset. [online] www.kaggle.com. Available at: https://www.kaggle.com/datasets/gauravtopre/bank-customer-churn-dataset.
3. Torres-Reyna, O. (2008). Data Preparation & Descriptive Statistics. [online] Available at: https://www.princeton.edu/~otorres/DataPrep101.pdf [Accessed 14 May 2022].

# 1. Introduction

### 1.1 What is data
Data is plain facts gathered within a defined context. Statistians would refer to it as a set of obsevations, which contained within variables or columns whith columns possessing varying/unique characteristics. Data can also be referred to as a piece of information after it has been summarised, and when subjected to analysis, data can be referred to as evidence of a hypothesis. Before data can become information and utilmately evidence it must go through a process. Data analysis is the process in which raw data is ordered and organized, to be used in methods that help to explain the past and predict the future (Hector, 2013).
Data anslysis requires good use os statiscal thechniques and probability in other to understand, summarise and efficiently and accurately manipulate data hence facilitating making reliable predicts to statakeholders of a domain. In this project we would be using satistical and probability thechniques to summarise Bank churn dataset and ultimately draw conclusion as informed by our analysis. 
### 1.2 Forms of data
Data is a generalised term, but within this term are branches which can be referred to as forms/ types. Data can broadly be divided into 2 types:
1. Categorical types: Categorical datas are also reffred to as qualititative datas. This are datas that can not be measured. They are in general any form of data that is not in numerical for. E.g smoker/ non-smoker. 
2. Numerical types: Numerical data on the otherhand are datas that are in number form E.g. [Age: 20,18..]. They are also called quantitative datas, this meas they can be quantified by numbers, and increament is also propotinal to quantity for example an 18year old person is more aged than a 2year old person. 
It is worth saying that this 2 data tyoes are just a broad overveiw of forms in which a data can be presented, however each data type has sub-division in them and they mean diffrent things as relating to characteristics of such data and how they would be treated in analysis. 
### 2. Understanding 'Bank churn' dataset
The Bank churn dataset i have chosen to analyse is from ABC Multistate bank (Topre, 2022). Customer churn in simple term is when a customer of an organisation decides to path ways with the bussiness. In this contest ABC multistate bank customer churn would be when a customer of the bank discontinue their patronage of the bank services. This data set has 12 variables in it, and the bank wasnts to be able to see how each if this columns influence a coustomers decision to churn the bank. The data is available in 
### 2.1 Data source
This data is available in comma separated format, and has been downloaded from Kaggle open source. 
### 2.2 Columns defination (Topre, 2022).
customer_id: Uniques identification of coustomer. 
credit_score: Credit score of each coustomer
country: This is the region the coustomer is based.
Gender: This is the gender of each uniqe customer.
Age: This variable countains the age of the counstomer.
Tenure: This is how long the coustomer has been with the bank.
Balance: This ia the available balance of coustomer account at the time of data collection.
products_number: This is the ammount of servises coustomer signed up for with the bank.
credit_card: This states wither a customer has a credit card or not.
active_member: This checks if the counstomer is still active customer of the bank .
estimated_salary: The estimated gross salary of each customer.
churn: Has coustomer left or not. It is used as the dependent variable for modelling. 
### 3. Objectives
With this data, i would be implementing the following in python programming language:
1. Read data into pandas dataframe format. 
2. Explore 5 number summary of data using method in pandas and funtions.
3. Visualise distributions using appropriate visualisation technique.
4. Report on findings and conclusion based on analysis.

#### Importing liabraries

In [1]:
import pandas as pd # Pandas liabray from data manipulation and analysis
import numpy as np # Numpy liabrary helps to perform mathematical operations on features in a data
import statistics as stats # Statistis liabray helps to perform divers stataistical operations
import matplotlib.pyplot as plt # plt and sns are visualisation tools, used for visulising data.
import seaborn as sns

#### Reading csv file to dataframe format
To be able to manipulate data using python, we have to read the data in dataframe(df) format. 
To do this we would used 'read_csv' method in pandas and pass the name of the csv file into this operation as an argument in perentesis.

In [2]:
churn = pd.read_csv('Bank Customer Churn Prediction.csv')

#### Displaying the head and tail of churn df
Head and tail means displaying the first and last five rows of df. 
To do the we would use the '.head()' and '.tail()' methods from pd.

In [3]:
churn.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
churn.tail()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

#### Data size and type
The size is the number of rows and column in df. And the type is the type of data contained in each variable. 
To do this we would be using the '.shape()' and '.info()' methods from pd laibray.

In [6]:
churn.shape

(10000, 12)

In [7]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

In [9]:
churn['active_member'].unique()

array([1, 0], dtype=int64)

In [10]:
churn['churn'].unique()

array([1, 0], dtype=int64)

In [11]:
churn['credit_card'].unique()

array([1, 0], dtype=int64)

#### Understanding outcome.
Output from size operation suggests that their are 12 columns and 10000 rows in chrn df. Furthermore, info operation output shows that there are 2 categorical variable, 10 numerical variables out of which 8 are integers and 2 are floats.
#### Meaning of variables
The definitions of each variable has been reported in the introduction. However, the following variable ['active_member', 'churn', 'credit_card'] according to defination are categorical variables, but have been converted to numerical form to facilitate visualisation and modelling. To be specific, 'active_member' 1 and 0 means yes and no respectively if coustomer is still an active member of the bank. 'churn' 1 and 0 mean yes and no respectively if customer have left the bank or haven't. 'credit_card' 1 and 0 resectively mean yes and no if a coustomer has credit card. 
This variable according to infomation output have been interpreted has integers, how ever we must not interpret or treat them are numbers but just as method of classifying/categorising a statement result i.e yes/no. Staistical summary of this values would not be interpretted as number other operations would be inplemented in this project to describe this variables. 

The remaining variables however can be treated as interpreted by pandas for example 'product_number' 1 means a customer has just 1 quantity of product. Statistical summary of this column would be a true representation of distribution of the observations.

## Descriptive statistics

Discriptive statistics has two broad aspect namely summarization and viasulaisation. It is a branch of statististical analysis, that involves summarizing, organizing, and presenting data in a concise and meaniful way (simplilearn, 2021). Descriptive statistis however does not make any genralized conlusion on a general population, for instatce the descriptive statistical result of 'churn' is not a representation of all the customers in ABC bank, it only foucuses on decribing the columns in 'chun'(simplilearn, 2021).
Descriptive statistics summarizes the measure of central tentency (location), and variability in each column of a dataset(Torres-Reyna, 2008.

#### Measure of cental tendency (Location)
##### Five Number summary
Five number summary means summarising data under five heads namely: Mean, median, Mode, Min and Max. 
1. Mean: This is the average of the observations in a column. It is calculated by summing together all observations in a variable and dividing the sum by the count of all observation. In 'chur' the mean of any variable would be the sum of all variables divided by 10000. It is the most common indicator of central tentendcy (Torres-Reyna, 2008)
2. Median: This is the middle or average of the middle observations of a variable after the ovservations have been sorted in accessending order i.e from lowest observation to the highest. This in our number summary would be the 50% of the variable. It is another measure of central tendency (Torres-Reyna, 2008).
3. Mode: Mode refers to the most frequent observation in a given variable. 
4. Min: This is simple the minimum value in each variable. 
5: Max: This is the maximum value in each varible. 
With this five statistical operations, we can summarise the locations of observations in each variable.
##### Variability
In addition to knowing locations of our observations, it is important to explore the variablility of the observations from the mean (50%). To do this we would have to calculate: Variance, range, and Starndard deviation. 

6: Variance; Variance as the name implies, is the measure of dispersion of data from the mean (50%) (Torres-Reyna, 2008). This is calculated by squaring the diffrence between mean and each observation in a column i.e (each column observation minus mean of the column), and dividing the summation of squares by the to total number of observation minus 1 i.e (1000-1) for 'churn' (Hayes, 2023)
7. Stardard deviation: Standard deviation is the square root of variance.

In [15]:
churn.isnull().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

Checking if there are null values in the colums using '.isnull()' method, '.sum()' would return the sum of null values found in each column if any.

In [20]:
churn.describe()

,customer_id,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

The '.describe()' method has been called from pandas library on df 'churn', this will return the descriptive analysis of 'chur'. However, we can notice that pandans has interpreted ['active_member', 'churn', 'credit_card', 'customer_id] as number hence returning the discriptive statistics of this observations. This variables does not contain numerical observations but number have been used to classify them into groups, so the result produced are not an accurate description of this variables. To be able to treat this variable like they are, we would have to convert them to the appropriate value type and define them as such them pandas can treat them as objects not number.

In [27]:
ch= churn['customer_id'].astype(object)
churn['customer_id'] = ch

In [29]:
chc = churn['churn'].astype(object)
churn['churn'] = chc

In [30]:
cHc = churn['active_member'].astype(object)
churn['active_member'] = cHc

In [31]:
cHC = churn['credit_card'].astype(object)
churn['credit_card'] = cHC

In [34]:
churn.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [33]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  object
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  object
 9   active_member     10000 non-null  object
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 937.6+ KB

The 'astype()' method have been used to convert ['active_member', 'churn', 'credit_card', 'customer_id] into objects.
Now we can see that ['active_member', 'churn', 'credit_card', 'customer_id] have been converted to categorical variable, while still keepin the classification as 0 and 1 in the main df 'churn'. Now if we discribe 'churn' again, thus variables will not not be treated as numbers.

In [35]:
churn.describe()

,credit_score,age,tenure,balance,products_number,estimated_salary
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,100090.239881
std,96.653299,10.487806,2.892174,62397.405202,0.581654,57510.492818
min,350.000000,18.000000,0.000000,0.000000,1.000000,11.580000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,51002.110000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,100193.915000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,149388.247500
max,850.000000,92.000000,10.000000,250898.090000,4.000000,199992.480000